<h3>í”¼ë“œë°±</h3>
<%= form_with url: '/api/v1/feedback/create', method: :post do |form| %>
  <div class="input-group input-group-sm">
    <%= form.text_field :desc, class: "form-control" %>
    <%= form.hidden_field :diary_id, value: @diary.id %>
    <%= form.submit class: "btn btn-outline-primary", value: "í”¼ë“œë°± ìž‘ì„±" %>
  </div>
<% end %>

<% @diary.feedbacks.each do |feedback| %>
  <ul class="list-group list-group-horizontal">
    <%#= form_tag "/api/v1/feedback/update/#{feedback.id}", method: :patch do %>
    <%#= label_tag :desc %>
    <%#= text_field_tag :desc, value = "#{feedback.desc}" %>
    <%#= submit_tag "ìˆ˜ì •" %>
    <%# end %>
    <br>

    <li class="list-group-item"><%= feedback.user.name %></li>
    <li class="list-group-item flex-fill"><%= feedback.desc %></li>
    <li class="list-group-item"><%= button_to("ðŸ—‘ï¸",
                                              "/api/v1/feedback/delete/#{feedback.id}",
                                              method: :delete,
                                              class: "hover:tw-opacity-50 link-underline link-underline-opacity-0 #{(@current_user != feedback.user) ? 'tw-cursor-not-allowed tw-pointer-events-none tw-opacity-25' : ''}",
                                              form: { data: { turbo_confirm: 'ì •ë§ ì‚­ì œí•˜ì‹¤ê±´ê°€ìš”?' } }) %></li>
  </ul>
<% end %>
<br>
<br>
<br>
<br>
