<h3> 피드백 모듈 </h3>
<br>

<h3>Add an feedback </h3>
<%= form_with url: '/api/v1/feedback/create', method: :post do |form| %>
  <%= form.text_field :desc %>
  <%= form.hidden_field :diary_id, value: @diary.id %>
  <%= form.submit %>
<% end %>

<% @diary.feedbacks.each do |feedback| %>
  <%= form_tag "/api/v1/feedback/update/#{feedback.id}", method: :patch do %>
    <%= label_tag :desc %>
    <%= text_field_tag :desc, value = "#{feedback.desc}" %>
    <%= submit_tag "수정" %>
  <% end %>
  <br>
<% end %>

