<div class="tw-mx-auto tw-p-8">
  <%= image_tag("logos/logo-h-black-302x91.png", class: "tw-mx-auto") %>
</div>
<h1 class="text-center">업무포털 로그인</h1>
<div class="mx-auto d-grid gap-2 d-md-block" style="max-width: 24rem">
  <%= form_with url: '/api/v1/login/login', model: @user do |form| %>
    <div>
      <!--    <%#= form.label :name %><br>-->
      <%= form.text_field :name, class: "form-control mb-3", placeholder: "이름", value: @user_name_value %>
    </div>
    <div>
      <!--    <%#= form.label :pw %><br>-->
      <%= form.password_field :pw, class: "form-control mb-3", placeholder: "비밀번호" %>
    </div>
    <!--  <div>-->
    <%#= form.submit %>
    <!--  </div>-->
    <%#= render SubmitButtonComponent.new(value: "로그인", form: form) %>
    <div class="form-check">
      <%= form.check_box :save_name, checked_value: "1", unchecked_value: "0", class: "form-check-input" %>
      <%= form.label :save_name_label, "아이디 저장", class: "form-check-label" %>
    </div>
    <%= form.submit value: "로그인", class: "btn btn-primary tw-w-full mb-3 mt-3" %>
  <% end %>
  <div class="">
    <a
    class="btn btn-primary tw-w-full"
    href="/api/v1/login/sign_up"
    >
      회원가입
    </a>
    <%#= render BasicButtonComponent.new(title: '회원가입', path: '/api/v1/login/sign_up') %>
  </div>
  <% flash.each do |type, msg| %>
    <div class="alert alert-warning mt-3" role="alert">
      <%= msg %>
    </div>
  <% end %>
  <%#= link_to '회원가입', '/api/v1/login/sign_up' %>
</div>
