<nav class="navbar bg-body-tertiary navbar-expand-sm">
  <div class="container-fluid">
    <div class="navbar-brand">
      <a class="tw-no-underline" href="<%= ENV['HOME_PAGE'] %>" target="_blank" rel="noopener noreferrer">
        <%= image_tag "logos/logo-h-black-302x91.png", alt: "Logo", width: "100", height: "28", class: "d-inline-block align-text-top" %>
      </a>
      <a class="tw-no-underline tw-text-black tw-font-[KorailRoundGothicBold] tw-font-light" href="/">
        업무포털
      </a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-md-0 ">
        <!--        <li class="nav-item">-->
        <!--          <a class="nav-link active" aria-current="page" href="#">Home</a>-->
        <!--        </li>-->
        <!--        <li class="nav-item">-->
        <!--          <a class="nav-link" href="#">Link</a>-->
        <!--        </li>-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            업무일지
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "업무일지 목록", "/api/v1/diary/list", class: "dropdown-item tw-text-sm" %>
            </li>
            <li>
              <%= link_to "업무일지 추가", "/api/v1/diary/new", class: "dropdown-item tw-text-sm" %>
            </li>
            <li>
              <%= link_to "나의 업무일지", "/api/v1/diary/list?type=my", class: "dropdown-item tw-text-sm" %>
            </li>
            <li>
              <%= link_to "업무일지 달력", "/api/v1/diary/calendar", class: "dropdown-item tw-text-sm" %>
            </li>
            <% if @current_user.is_admin? %>
              <li>
                <%= link_to "🔐 승인되지 않은 업무일지", "/api/v1/diary/list?type=unadmitted", class: "dropdown-item tw-text-sm" %>
              </li>
              <li>
                <%= link_to "🔐 백업파일", "/api/v1/diary/back_up", class: "dropdown-item tw-text-sm" %>
              </li>
            <% end %>
            <li>
              <hr class="dropdown-divider">
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            현금출납부
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to "입출금내역", "/api/v1/cashio/list", class: "dropdown-item tw-text-sm" %>
            </li>
            <li>
              <%= link_to "#{Cashio.has_base_balance? ? '입출금내역 추가' : '초기이월잔액 입력'}", "#{Cashio.has_base_balance? ? '/api/v1/cashio/new' : '/api/v1/cashio/new_base_balance'}", class: "dropdown-item tw-text-sm" %>
            </li>

            <%# if @current_user.is_admin? %>
            <!--              <li>-->
            <%#= link_to "🔐 승인되지 않은 업무일지", "/api/v1/diary/list?type=unadmitted", class: "dropdown-item tw-text-sm" %>
            <!--              </li>-->
            <!--              <li>-->
            <%#= link_to "🔐 백업파일", "/api/v1/diary/back_up", class: "dropdown-item tw-text-sm" %>
            <!--              </li>-->
            <%# end %>
            <li>
              <hr class="dropdown-divider">
            </li>
          </ul>
        </li>
        <!--        <li class="nav-item">-->
        <!--          <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
        <!--        </li>-->
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            계정
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "로그아웃", "/api/v1/login/logout", class: "dropdown-item tw-text-sm" %></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item disabled tw-text-sm" href="#">계정: <%= @current_user.name %></a></li>
          </ul>
        </li>
      </ul>
      <%= form_with(
            url: '/api/v1/diary/search',
            local: true,
            class: "d-flex",
            role: "search",
            method: :get,
            data: { turbo: false }
          ) do |form|
      %>
        <%= form.text_field :q, value: @query, placeholder: "검색어를 입력하세요", class: "form-control form-control-sm me-2" %>
        <div class="btn btn-sm btn-outline-primary">
          <%= form.submit value: "검색" %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
