<h1 class="tw-text-2xl">현금출납부</h1>
<h2 class="tw-text-xl">잔액: <%= number_with_delimiter(Cashio.total, :delimiter => ',') %> 원</h2>
<table class="table table-bordered table-hover mt-3">
  <thead class="">
  <tr>

    <th class="text-center">
      날짜
    </th>
    <th class="text-center">
      거래내용
    </th>
    <th class="text-center">
      입금액
    </th>
    <th class="text-center">
      출금액
    </th>
    <th class="text-center">
      일계
    </th>
    <th class="text-center">
      잔액
    </th>
    <th class="text-center">
      승인
    </th>
  </tr>
  </thead>
  <tbody class="">
  <% @summaries.each do |cashio| %>
    <tr>
<!--      <td class="text-center">-->
<!--        <div class="form-check">-->
<!--          <input-->
<!--            class="form-check-input"-->
<!--            type="checkbox"-->
<!--            id="flexCheckDefault"-->
<!--            data-controller="cashio"-->
<!--            data-action="change->cashio#admit"-->
<!--            data-cashio-cashio-id-param="<%#= cashio.id %>"-->
            <%#= cashio.admitted ? 'checked' : '' %>
            <%#= @current_user.is_admin? ? '': 'disabled' %>
<!--          >-->
<!--        </div>-->
<!--      </td>-->
      <td class="text-center">
        <%= link_to("#{cashio[:date]} (#{%w[일 월 화 수 목 금 토][cashio[:date].wday]})", "/api/v1/cashio/day/#{cashio[:date]}") %>
      </td>

      <%# if cashio.is_base_balance %>
<!--        <td class="text-center">-->
<!--          초기이월잔액-->
<!--        </td>-->
      <%# end %>
      <td class="text-start">
        <%= cashio[:title] %> 외 <%= (cashio[:count] - 1) %>건
      </td>

      <td class="text-end">
        <%= number_with_delimiter(cashio[:total_input], :delimiter => ',') %>
      </td>
      <td class="text-end">
        <%= number_with_delimiter(-cashio[:total_output], :delimiter => ',') %>
      </td>

      <td class="text-end" style="color: <%= cashio[:total_day] >= 0 ? 'blue' : 'red' %>;">
        <%= cashio[:total_day] >= 0 ? '+' : '' %><%= number_with_delimiter(cashio[:total_day], :delimiter => ',') %>
      </td>
      <td class="text-end">
        <%= number_with_delimiter(cashio[:balance], :delimiter => ',') %>
      </td>
      <td class="text-center">
        <%= Cashio.admitted_icon_for_day(cashio[:date]) %>
      </td>
    </tr>

  <% end %>
  </tbody>
</table>
<%= paginate @cashios %>
