<h1 class="tw-text-2xl">입출금 추가</h1>
<br>
<div data-controller="cashio">
  <%= form_with url: '/api/v1/cashio/create', method: :post, class: "w-full", id: "newCashioForm" do |form| %>
    <%= element_in_form(form, :date, '날짜') { |f, n, cl| f.date_field(n, class: cl, max: "9999-12-31", value: @preset_date) } %>
    <%= element_in_form(form, :account, '거래처') { |f, n, cl| f.text_field(n, class: cl) } %>
    <%= element_in_form(form, :desc, '거래내용') { |f, n, cl| f.text_field(n, class: cl) } %>
    <%= element_in_form(form, :note, '비고') { |f, n, cl| f.text_field(n, class: cl) } %>
    <%= element_in_form(form, :price, '금액') { |f, n, cl| f.text_field(n, class: "#{cl} number-auto-comma", data: { action: 'keyup->cashio#priceString' }) } %>
    <div id="priceDisplay" class="tw-text-center"></div>
    <div>
      <%= form.radio_button :io, "input", class: "form-check-input" %>
      <%= form.label :io_input, "입금", class: "form-check-label" %>
      <%= form.radio_button :io, "output", class: "form-check-input" %>
      <%= form.label :io_output, "출금", class: "form-check-label"  %>
    </div>
    <%# <%= form.submit class: "btn btn-primary", value: "저장", id: "saveBtn", disabled: false %>
  <% end %>
  <br>
  <br>
  <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
    <button class="btn btn-outline-primary" value="저장" id="saveBtn"
            data-controller="cashio"
            data-action="click->cashio#saveCashio"
            data-cashio-type-param="create"
    >저장
    </button>
    <%= render BasicButtonComponent.new("btn btn-outline-primary", title: "목록", path: "/api/v1/cashio/list/") %>
  </div>
</div>
