<h1 class="tw-text-2xl">직원목록</h1>
<br>
<div class="overflow-x-auto">
  <table class="table table-bordered table-hover mt-3">
    <thead class="">
      <tr>
        <% %w[이름 사번 입사일 직급 상태 수정].each do |x| %>
          <th class="text-center">
            <%= x %>
          </th>
        <% end %>

      </tr>
    </thead>
    <tbody class="">
      <% if @users.count == 0 %>
        <tr>
          <td class="text-center" colspan="10">
            직원이 없습니다.
          </td>
        </tr>
      <% else %>
        <% @users.each do |user| %>
          <tr>
            <td class="text-center">
              <%= user.name %>
            </td>
            <td class="text-center">
              <%= user.id %>
            </td>
            <td class="text-center">
              <%= user.hire_date %>
            </td>
            <td class="text-center">
              <%= user.position %>
            </td>
            <td class="text-center">
              <%= user.status_kr %>
            </td>
            <td class="text-center">
              <%= link_to(
                "✏️",
                "/api/v1/user/edit/#{user.id}",
                # class: "hover:tw-opacity-50 link-underline link-underline-opacity-0 #{(fuel.admitted && !@current_user.is_admin?) ? 'tw-cursor-not-allowed tw-pointer-events-none tw-opacity-25' : ''}"
              ) %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
