<h1 class="tw-text-2xl">연차현황</h1>
<br>

<div class="tw-flex tw-justify-end">
  <div class="tw-w-36">
    <div class="input-group input-group-sm mb-3">
      <%= link_to "<",
      "/api/v1/vacations/?year=#{@year - 1}",
      class: "btn btn-outline-primary" %>
      <input
        type="text"
        class="form-control tw-text-end"
        aria-label="year"
        id="year"
        value="<%= @year %>"
      >
      <span class="input-group-text">년</span>
      <%= link_to ">",
      "/api/v1/vacations/?year=#{@year + 1}",
      class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>

<div class="tw-flex tw-justify-end">
  <div
    class="btn-group btn-group-sm"
    role="group"
    aria-label="Basic outlined example"
  >
    <%= link_to(
      "연차 추가",
      "/api/v1/vacations/new",
      class: "btn btn-outline-primary btn-sm",
    ) %>
  </div>
</div>
<%= table_from_hash(@hashs, @users) %>
