<h1 class="tw-text-2xl">회의록</h1>
<br>
<table class="table table-bordered">
  <thead>
  <tr>
    <td class="text-center tw-font-bold" style="width: 25%">
      일자
    </td>
    <td class="text-center">
      <%= @meeting.at %> (<%= @meeting.wday_name %>)
    </td>
    <td class="text-center tw-font-bold">
      작성자
    </td>
    <td class="text-center">
      <%= @meeting.user.name %>
    </td>
    <td class="text-center tw-font-bold">
      승인
    </td>
    <td class="text-center">
      <%= @meeting.admit_status_icon %>
    </td>
  </tr>
  <tr>
    <td class="text-center tw-font-bold">
      제목
    </td>
    <td class="text-center" colspan="5">
      <%= @meeting.title %>
    </td>
  </tr>
  <tr>
    <td class="text-center tw-font-bold">
      참가자
    </td>
    <td class="text-center" colspan="5">
      <%= @meeting.attendee %>
    </td>
  </tr>
  <tr class="text-center">
    <th colspan="6">내용</th>
  </tr>
  </thead>
  <tbody class="table-group-divider">
  <tr>
    <td colspan="6" class="">
      <textarea class="form-control" style="background-color: white" disabled="disabled" rows="<%= @meeting.description.lines.count + 1 %>"><%= @meeting.description %></textarea>
    </td>
  </tr>
  <tr>
    <td colspan="6" class="">
      <div class="tw-grid tw-grid-cols-1 sm:tw-grid-cols-2 lg:tw-grid-cols-3 xl:tw-grid-cols-4 tw-gap-4">
        <% @meeting.images.each do |src| %>
          <%= link_to(url_for(src)) do %>
            <div class="tw-relative">
              <%= image_tag(src, class: "rounded") %>
              <div class="tw-absolute tw-top-1 tw-right-1 tw-w-4 tw-h-4">
                <%= button_to(
                      "X",
                      "/api/v1/meeting/delete_image/#{@meeting.id}/#{src.signed_id}",
                      method: :delete,
                      class: "btn btn-danger btn-sm",
                      style: "--bs-btn-padding-y: .05rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .7rem;",
                      form: { data: { turbo_confirm: '이 이미지를 정말 삭제하실건가요?' } }) %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </td>
  </tr>
  </tbody>
</table>
<br>
<div class="btn-toolbar">
  <div class="btn-group btn-group-sm me-4" role="group" aria-label="Basic example">
    <%= link_to("수정", "/api/v1/meeting/edit/#{@meeting.id}", class: "btn btn-outline-primary") %>
    <%= link_to("목록", "/api/v1/meeting/list", class: "btn btn-outline-primary") %>

    <% if @current_user.is_admin? %>
      <div class="btn btn-outline-danger">
        <%= button_to(
              "🔐 삭제",
              "/api/v1/meeting/delete/#{@meeting.id}",
              method: :delete,
              form: { data: { turbo_confirm: '정말 삭제하실건가요?' } }) %>
      </div>
    <% end %>
  </div>

  <div class="btn-group btn-group-sm">
    <% if @meeting.admitted == 'not' && @current_user.is_admin? %>
      <div class="btn btn-outline-success">
        <%= button_to("🔐 승인", "/api/v1/meeting/admit/#{@meeting.id}", method: :post) %>
      </div>
    <% end %>
    <% if @meeting.admitted == 'admitted' && @current_user.is_admin? %>
      <div class="btn btn-outline-danger">
        <%= button_to("🔐 승인 취소", "/api/v1/meeting/de_admit/#{@meeting.id}", method: :post) %>
      </div>
    <% end %>
  </div>
</div>
<br>
<br>
<br>
