<h1 class="tw-text-2xl">달력보기</h1>
<br>
<%= month_calendar(events: @diaries) do |date, diaries| %>
  <div class="<%= 'mark' if date == Date.today %> tw-flex tw-justify-between">
    <%= date.day %>
    <%= link_to '+', "/api/v1/diary/new/#{date.to_s}", class: "btn btn-outline-secondary btn-sm",
                style: "--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .7rem;"
    %>
  </div>
  <% diaries.each do |diary| %>
    <div class="w-full ">
      <%= link_to(
            "#{diary.admit_status_icon} #{diary.user.name}",
            "/api/v1/diary/detail/#{diary.id}",
            class: "link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover")
      %>
    </div>
  <% end %>
<% end %>
