<h1 class="tw-text-2xl">달력보기</h1>
<br>
<%= month_calendar(events: @diaries) do |date, diaries| %>
  <div class="<%= 'mark' if date == Date.today %> tw-flex tw-justify-between">
    <%= link_to date.day, "/api/v1/diary/day/#{date.to_s}", class: "" %>
    <%= link_to '+', "/api/v1/diary/new/#{date.to_s}", class: "btn btn-outline-secondary btn-sm",
                style: "--bs-btn-padding-y: .05rem; --bs-btn-padding-x: .2rem; --bs-btn-font-size: .7rem;"
    %>
  </div>
  <div class="tw-text-red-500">
    <%= @holidays[date.year.to_s][date.to_s] %>
  </div>
  <% diaries.each do |diary| %>
    <div class="w-full">
      <%= link_to(
            "#{diary.user.name}",
            "/api/v1/diary/detail/#{diary.id}",
            class: "tw-no-underline tw-block tw-w-full tw-mb-0.5 tw-text-center tw-py-[1px] tw-text-[12px] tw-bg-#{diary.admitted? ? 'green' : 'red'}-500 hover:tw-bg-#{diary.admitted? ? 'green' : 'red'}-700 tw-rounded-sm tw-text-white sm:tw-text-sm")
      %>
    </div>
  <% end %>
<% end %>
