<h1 class="tw-text-2xl"><%= @date %> (<%= %w[일 월 화 수 목 금 토][@date.to_date.wday] %>)</h1>
<% flash.each do |type, msg| %>
  <div class="alert alert-warning mt-3" role="alert">
    <%= msg %>
  </div>
<% end %>
<div class="tw-flex tw-justify-end">
  <%= link_to("+", "/api/v1/diary/new/#{@date}", class: "btn btn-outline-primary btn-sm") %>
</div>
<div class="overflow-x-auto">
  <table
    class="table table-bordered table-hover mt-3"
  >
    <thead class="">
    <tr>
      <th class="text-center">
        날짜
      </th>
      <th class="text-center">
        작성자
      </th>
      <th class="text-center">
        승인 여부
      </th>
      <th class="text-center">
        피드백
      </th>
    </tr>
    </thead>
    <tbody class="">
    <% @diaries.each do |diary| %>
      <tr>

        <td class="text-center">
          <%= link_to(
                "#{diary.date} (#{diary.wday_name})",
                "/api/v1/diary/detail/#{diary.id}",
                class: "link-opacity-50-hover")
          %>
          <!--          <%#= diary.date %> (<%#= diary.wday_name %>)-->
        </td>
        <td class="text-center">
          <%= diary.user.name %>
        </td>

        <td class="text-center">
          <%= diary.admit_status_icon %>
        </td>
        <td class="text-center">
          <span class="badge text-bg-<%= diary.feedbacks.count == 0 ? 'secondary' : 'danger' %>">
            <%= diary.feedbacks.count %>
          </span>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= render BasicButtonComponent.new("btn btn-sm btn-outline-primary", title: "목록", path: "/api/v1/diary/list/#{@date.split('-')[0..1].join('/')}") %>
