<h1 class="tw-text-2xl">μ—…λ¬΄μΌμ§€ </h1>
<br>
<table class="table table-hover">
  <thead>
  <tr>
    <td class="text-center font-bold" style="width: 25%">
      μΌμ
    </td>
    <td class="text-center font-bold">
      μ‘μ„±μ
    </td>
    <td class="text-center font-bold">
      μΉμΈ
    </td>
  </tr>
  <tr>
    <td class="text-center">
      <%= @diary.date %> (<%= @diary.wday_name %>)
    </td>
    <td class="text-center">
      <%= @diary.user.name %>
    </td>
    <td class="text-center">
      <%= @diary.admit_status_icon %>
    </td>
  </tr>
  <tr class="text-center">
    <th>μ‹κ°</th>
    <th colspan="2">λ‚΄μ©</th>
  </tr>
  </thead>
  <tbody class="table-group-divider">
  <% @diary.events.order(start_time: :asc).each do |event| %>
    <tr>
      <td class="text-center">
        <%= event.start_time.strftime("%H:%M") %>
        <%# ~ %>
        <%#= event.end_time.strftime("%H:%M") %>
      </td>
      <td colspan="2">
        <%= event.desc %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
  <%= render(BasicButtonComponent.new("btn btn-outline-primary",
    title: "μμ •", path: "/api/v1/diary/edit/#{@diary.id}")) if (
    @current_user.is_admin? && @diary.admitted == true) || (@diary.admitted == false) %>
  <%= render BasicButtonComponent.new("btn btn-outline-primary", title: "λ©λ΅", path: "/api/v1/diary/list") %>
  <%#= link_to 'λ©λ΅', :back, class: "btn btn-primary" %>
  <%= link_to("μ¶λ ¥",
              "/api/v1/diary/pdf/#{@diary.id}/μ—…λ¬΄μΌμ§€ #{@diary.user.name} #{@diary.date} (#{@diary.wday_name}).pdf",
              class: "btn btn-outline-primary") %>
  <% if @current_user.is_admin? %>
    <div class="btn btn-outline-danger">
      <%= button_to(
            "π” μ‚­μ ",
            "/api/v1/diary/delete/#{@diary.id}",
            method: :delete,
            form: { data: { turbo_confirm: 'μ •λ§ μ‚­μ ν•μ‹¤κ±΄κ°€μ”?' } }) %>
    </div>
  <% end %>
  <% if @diary.admitted == false && @current_user.is_admin? %>
    <div class="btn btn-outline-success">
      <%= button_to("π” μΉμΈ", "/api/v1/diary/admit/#{@diary.id}", method: :post) %>
    </div>
  <% end %>
</div>
<!--<a href="/api/v1/event/new/<%#= @diary.id %>">μμ •</a>-->
<!--<a href="/api/v1/diary/list">λ©λ΅</a>-->
<br>
<%#= 'μΉμΈλ¨' if @diary.admitted == true %>
<%#= 'μΉμΈλμ§€ μ•μ' if @diary.admitted == false %>
<br>
<br>
<%= render '/api/v1/feedback/new' %>
