<h1>Api::V1::Diary#list</h1>
<p>Find me in app/views/api/v1/diary/list.html.erb</p>
<%= @current_user.name %>
<%= link_to '로그아웃', '/api/v1/login/logout' %>

<a href="/api/v1/diary/new">새 업무일지</a>

<h1>검색</h1>
<%= form_with url: '/api/v1/diary/search', local: true, method: :post, data: {turbo: false} do |form| %>
  <div>
    <%= form.label :query %><br>
    <%= form.text_field :q, value: @query %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<ul>
  <% @diaries.each do |diary| %>
    <li>
      <a href="/api/v1/diary/detail/<%= diary.id %>">
        <%= '✅' if @current_user.permission == "admin" and diary.admitted == true %>
        <%= '❌' if @current_user.permission == "admin" and diary.admitted == false %>
        <%= diary.date %>
        <%= diary.user.name %></a>
    </li>
  <% end %>
</ul>
