<h1 class="tw-text-2xl"><%= @title %></h1>
<br>
<%= form_with url: '/api/v1/diary/search', local: true, method: :post, data: { turbo: false } do |form| %>
  <div class="input-group input-group-sm">
    <%= form.text_field :q, value: @query, class: "form-control" %>
    <div class="btn btn-outline-primary">
      <%= form.submit value: "검색" %>
    </div>
  </div>
<% end %>
<%= render DiariesTableComponent.new(diaries: @diaries) %>
<br>
<br>
<br>
<br>
<br>
<br>