<h1 class="text-center text-3xl">업무일지</h1>
<br>
<br>
<br>
<!--<p class="text-right"><%#= @diary.data %> (<%#= ['일', '월', '화', '수', '목', '금', '토'][@diary.date.wday] %>) <%#= @diary.user.name %></p>-->

<!--<table class="table">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <td class="text-center font-bold">-->
<!--      일자-->
<!--    </td>-->
<!--    <td class="text-center font-bold">-->
<!--      작성자-->
<!--    </td>-->
<!--    <td class="text-center font-bold">-->
<!--      승인-->
<!--    </td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td class="text-center">-->
<!--      <%#= @diary.date %> (<%#= ['일', '월', '화', '수', '목', '금', '토'][@diary.date.wday] %>)-->
<!--    </td>-->
<!--    <td class="text-center">-->
      <%#= @diary.user.name %>
<!--    </td>-->
<!--    <td class="text-center">-->
      <%#= @diary.admitted ? '✅' : '❌' %>
<!--    </td>-->
<!--  </tr>-->
<!--  <tr class="text-center">-->
<!--    <th>시간</th>-->
<!--    <th colspan="2">내용</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody class="table-group-divider">-->

  <%# @diary.events.order(start_time: :asc).each do |event| %>
<!--    <tr>-->
<!--      <td class="text-center">-->
<!--        <%#= event.start_time.strftime("%H:%M") %> ~-->
        <%#= event.end_time.strftime("%H:%M") %>
<!--      </td>-->
<!--      <td colspan="2">-->
        <%#= event.desc %>
<!--      </td>-->
<!--    </tr>-->
  <%# end %>


<!--  </tbody>-->
<!--</table>-->



<div class="overflow-x-auto rounded-lg border border-gray-200">
  <table class="table text-[16px] min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="ltr:text-left rtl:text-right">
    <tr class="border border-gray-200">
      <td class="text-center font-bold">
        일자
      </td>
      <td class="text-center font-bold">
        작성자
      </td>
      <td class="text-center font-bold">
        승인
      </td>

    </tr>
    <tr class="border border-gray-200">
      <td class="text-center">
        <%= @diary.date %> (<%= ['일', '월', '화', '수', '목', '금', '토'][@diary.date.wday] %>)
      </td>
      <td class="text-center">
        <%= @diary.user.name %>
      </td>
      <td class="text-center">
        <%= @diary.admitted ? '승인됨' : '승인되지 않음' %>
      </td>
    </tr>

    <tr class="border border-gray-200">
      <th class="whitespace-nowrap px-4 py-2 font-bold text-gray-900">
        시간
      </th>
      <th colspan="2" class="whitespace-nowrap px-4 py-2 font-bold text-gray-900">
        내용
      </th>
    </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
    <% @diary.events.order(start_time: :asc).each do |event| %>
      <tr class="border border-gray-200">
        <td class="text-center whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          <%= event.start_time.strftime("%H:%M") %> ~
          <%= event.end_time.strftime("%H:%M") %>
        </td>
        <td colspan="2" class="whitespace-nowrap px-4 py-2 text-gray-700">
          <%= event.desc %>
        </td>
      </tr>
    <% end %>


    </tbody>
  </table>
</div>