<h1>새 업무일지</h1>
<br>
<%# url: '/api/v1/diary/create2', method: :post, %>
<div data-controller="diary">
  <%= form_with url: '/api/v1/diary/create3', method: :post, class: "w-full", id: "newDiaryForm" do |form| %>
    <div class="row g-2 mb-3 w-full">
      <%= form.label "날짜: ", class: "col-sm-2 form-label" %>
      <%= form.date_field :date, class: "col form-control", id: "datePicker", value: @preset_date %>
    </div>
    <div class="row g-2 mb-3">
      <%= form.label "작성자: ", class: "col-sm-2 form-label" %>
      <%= form.text_field :author, class: "col form-control", value: @current_user.name %>
    </div>
    <!--  <div class="row g-2 mb-3">-->
    <%#= form.label "업무내용: ", class: "col-sm-2 form-label" %>
    <%#= form.text_area :desc, class: "col form-control h-50", placeholder: "08:00 업무내용\n09:00 업무내용\n10:00 업무내용\n\n위 형식으로 적어주세요!", id: "descInput", rows: "10", style: "line-height: 4ch; background-image: linear-gradient(transparent, transparent calc(4ch - 2px), #E7EFF8 0px);background-size: 100% 4ch;" %>
    <!--  </div>-->
    <table class="tw-w-full mb-3" id="desc-table">
      <thead>
      <tr>
        <td class="text-center tw-w-1/6">시간</td>
        <td class="text-center tw-w-5/6">업무 내용</td>
      </tr>
      </thead>
      <tbody id="desc-tbody">
      <% 5.times do |index| %>
        <tr>
          <td>
            <%= form.text_field 'desc_time[]', class: "form-control" %>
          </td>
          <td>
            <%= form.text_field 'desc_content[]', class: "form-control" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%# <%= form.submit class: "btn btn-primary", value: "저장", id: "saveBtn", disabled: false %>
  <% end %>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button class="btn btn-primary" value="저장" id="saveBtn"
            data-controller="diary"
            data-action="click->diary#saveDiary"
            data-diary-type-param="create"
    >저장
    </button>
    <button class="btn btn-primary" value="행 추가" onclick="addRow()">행 추가</button>
    <%= render BasicButtonComponent.new(title: "목록", path: "/api/v1/diary/list/") %>
  </div>
</div>
<script>
  function csrfToken() {
    const meta = document.querySelector('meta[name=csrf-token]');
    const token = meta && meta.getAttribute('content');

    return token ?? false;
  }

  function addRow() {
    const descTable = document.querySelector('#desc-table');
    const row = descTable.insertRow(-1);
    const cell1 = row.insertCell(0);
    const cell2 = row.insertCell(1);
    //<![CDATA[
    const td1 = '<%= text_field_tag "desc_time[]", "", class: "form-control" %>';
    const td2 = '<%= text_field_tag "desc_content[]", "", class: "form-control" %>';
    //]]>
    cell1.innerHTML = td1;
    cell2.innerHTML = td2;
  }

  function autoAddRow() {
    document.addEventListener("change", function (event) {
      if (event.target.nodeName === 'INPUT') {
        var form = event.target.form;
        var index = Array.prototype.indexOf.call(form, event.target);
        console.log(index);
        if (form.elements[index + 5] === undefined) {
          addRow();
        }
      }
    });
  }

  autoAddRow();

  function enterToTab() {
    document.addEventListener("keypress", function (event) {
      if (event.keyCode === 13 && event.target.nodeName === 'INPUT') {
        event.preventDefault();
        var form = event.target.form;
        var index = Array.prototype.indexOf.call(form, event.target);
        console.log(index);
        if (form.elements[index + 4] === undefined) {
          addRow();
        }
        form.elements[index + 1].focus();
      }
    });
  }

  enterToTab();

  // function enableBtn() {
  //     const addBtn = document.getElementById("addBtn");
  //     const datePicker = document.getElementById("datePicker");
  //     if(!( datePicker.value == null || datePicker.value == "")){
  //         addBtn.disabled = false;
  //     }
  //     return
  // }
</script>
