<h1 class="tw-text-2xl">새 업무일지</h1>
<br>
<%# url: '/api/v1/diary/create2', method: :post, %>
<div data-controller="diary">
  <%= form_with url: '/api/v1/diary/create3', method: :post, class: "w-full", id: "newDiaryForm" do |form| %>
    <div class="row g-2 mb-3 sm:tw-max-w-xs">
      <%#= form.label "날 짜:", class: "col-sm-3 form-label tw-text-justify after:tw-content-[''] after:tw-inline-block after:tw-w-full before:tw-content-[''] before:tw-inline-block before:tw-w-full tw-leading-[0]" %>
      <%= form.label "날 짜:", class: "col-sm-3 form-label tw-text-justify", style: "text-align-last: justify;" %>
      <%= form.date_field :date, class: "col form-control form-control-sm tw-text-left", id: "datePicker", max: "9999-12-31", value: @preset_date %>
    </div>
    <div class="row g-2 mb-3 sm:tw-max-w-xs">
      <%= form.label "작 성 자:", class: "col-sm-3 form-label tw-text-justify", style: "text-align-last: justify;" %>
      <%= form.text_field :author, class: "col form-control form-control-sm", value: @current_user.name %>
    </div>
    <table class="tw-w-full mb-3" id="desc-table">
      <thead>
      <tr>
        <td class="text-center tw-w-16">시작</td>
        <td class="text-center tw-w-16">종료</td>
        <td class="text-center ">업무 내용</td>
      </tr>
      </thead>
      <tbody id="desc-tbody">
      <% 5.times do |index| %>
        <tr>
          <td>
            <%= form.text_field 'desc_start_time[]', class: "form-control form-control-sm" %>
          </td>
          <td>
            <%= form.text_field 'desc_end_time[]', class: "form-control form-control-sm" %>
          </td>
          <td>
            <%= form.text_field 'desc_content[]', class: "form-control form-control-sm" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%# <%= form.submit class: "btn btn-primary", value: "저장", id: "saveBtn", disabled: false %>
  <% end %>
  <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
    <button class="btn btn-outline-primary" value="저장" id="saveBtn"
            data-controller="diary"
            data-action="click->diary#saveDiary"
            data-diary-type-param="create"
    >저장
    </button>
    <button class="btn btn-outline-primary" value="행 추가" onclick="addRow()">행 추가</button>
    <%= render BasicButtonComponent.new("btn btn-outline-primary", title: "목록", path: "/api/v1/diary/list/") %>
  </div>
</div>
<script>
  function csrfToken() {
    const meta = document.querySelector('meta[name=csrf-token]');
    const token = meta && meta.getAttribute('content');

    return token ?? false;
  }

  function addRow() {
    const descTable = document.querySelector('#desc-table');
    const row = descTable.insertRow(-1);
    const cell1 = row.insertCell(0);
    const cell2 = row.insertCell(1);
    const cell3 = row.insertCell(2);
    //<![CDATA[
    const td1 = '<%= text_field_tag "desc_start_time[]", "", class: "form-control form-control-sm" %>';
    const td2 = '<%= text_field_tag "desc_end_time[]", "", class: "form-control form-control-sm" %>';
    const td3 = '<%= text_field_tag "desc_content[]", "", class: "form-control form-control-sm" %>';
    //]]>
    cell1.innerHTML = td1;
    cell2.innerHTML = td2;
    cell3.innerHTML = td3;
  }

  function autoAddRow() {
    document.addEventListener("change", function (event) {
      if (event.target.nodeName === 'INPUT') {
        var form = event.target.form;
        var index = Array.prototype.indexOf.call(form, event.target);
        console.log(index);
        if (form.elements[index + 8] === undefined) {
          addRow();
        }
      }
    });
  }

  autoAddRow();

  function enterToTab() {
    document.addEventListener("keypress", function (event) {
      if (event.keyCode === 13 && event.target.nodeName === 'INPUT') {
        event.preventDefault();
        var form = event.target.form;
        var index = Array.prototype.indexOf.call(form, event.target);
        console.log(index);
        if (form.elements[index + 7] === undefined) {
          addRow();
        }
        form.elements[index + 1].focus();
      }
    });
  }

  enterToTab();

  // function enableBtn() {
  //     const addBtn = document.getElementById("addBtn");
  //     const datePicker = document.getElementById("datePicker");
  //     if(!( datePicker.value == null || datePicker.value == "")){
  //         addBtn.disabled = false;
  //     }
  //     return
  // }
</script>
