<h1>검색</h1>
<%= form_with url: '/api/v1/diary/search', local: true, method: :get, data: { turbo: false } do |form| %>
  <div class="input-group">
    <%= form.text_field :q, value: @query, class: "form-control" %>
    <div class="btn btn-outline-primary">
      <%= form.submit value: "검색" %>
    </div>
  </div>
<% end %>
<br>
<%#= form_tag url: '/api/v1/diary/search', method: :post do %>
<!--  <div>-->
<%#= label_tag :query %>
<%#= text_field_tag :q %>
<!--  </div>-->
<!--  <div>-->
<%#= submit_tag %>
<!--  </div>-->
<%# end %>
<% if @sd %>
  <% @sd.each do |diary| %>
    <table class="table table-hover">
      <thead>
      <tr>
        <td colspan="2">
          <a
            class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href=<%= "/api/v1/diary/detail/#{diary.id}" %>
          >
            <%= diary.admit_status_icon %>
            <%= diary.date %> (<%= diary.wday_name %>)
            <%= diary.user.name %>
          </a>
        </td>
      </tr>
      <tr>
        <td>시간</td>
        <td>내용</td>
      </tr>
      </thead>
      <tbody>
      <% diary.events.order(start_time: :asc).each do |event| %>
        <tr>
          <td>
            <%= event.times_string %>
          </td>
          <td>
            <%= highlight(event.desc, @query) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <br>
    <!--    <li>-->
    <!--      <a href="/api/v1/diary/detail/<%#= diary.id %>">-->
    <%#= '✅' if @current_user.permission == "admin" and diary.admitted == true %>
    <%#= '❌' if @current_user.permission == "admin" and diary.admitted == false %>
    <%#= diary.date %>
    <!--        <%#= diary.user.name %></a>-->
    <!--      <ul>-->
    <%# diary.events.each do |event| %>
    <!--          <li>-->
    <%#= event.start_time.strftime("%H:%M") %>
    <%#= event.end_time.strftime("%H:%M") %>
    <%#= highlight(event.desc, @query) %>
    <!--          </li>-->
    <%# end %>
    <!--      </ul>-->
    <!--    </li>-->
  <% end %>
<% end %>
