<h1 class="tw-text-2xl">차량 주유내역 추가</h1>
<br>
<div data-controller="car">
  <%= form_with url: '/api/v1/car/create_repair', method: :post, class: "w-full", id: "newCarFuelForm" do |form| %>
    <div class="row g-2 mb-3 w-full">
      <%= form.label "차번호: ", class: "col-sm-2 form-label" %>
      <%= form.text_field :number, class: "col form-control form-control-sm", value: @car.number %>
    </div>
    <div class="row g-2 mb-3 w-full">
      <%= form.label "주유일: ", class: "col-sm-2 form-label" %>
      <%= form.date_field :refueled_at, class: "col form-control form-control-sm", max: "9999-12-31", value: @cf.refueled_at %>
    </div>
    <div class="row g-2 mb-3">
      <%= form.label "주행거리: ", class: "col-sm-2 form-label" %>
      <%= form.text_field :odo, class: "col form-control form-control-sm number-auto-comma", value: number_with_delimiter(@cf.odo, delimiter: ',') %>
    </div>
    <div class="row g-2 mb-3">
      <%= form.label "주유소: ", class: "col-sm-2 form-label" %>
      <%= form.text_field :station, class: "col form-control form-control-sm", value: @cf.station %>
    </div>
    <!--    <div class="row g-2 mb-3">-->
    <%#= form.label "정비내용: ", class: "col-sm-2 form-label" %>
    <%#= form.text_field :desc, class: "col form-control form-control-sm" %>
    <!--    </div>-->
    <div class="row g-2 mb-3">
      <%= form.label "주유금액: ", class: "col-sm-2 form-label" %>
      <%= form.text_field :price, class: "col form-control form-control-sm number-auto-comma", value: number_with_delimiter(@cf.price, delimiter: ',') %>
    </div>
    <div class="row g-2 mb-3">
      <%= form.label "주유단가: ", class: "col-sm-2 form-label" %>
      <%= form.text_field :unit_price, class: "col form-control form-control-sm number-auto-comma", value: number_with_delimiter(@cf.unit_price, delimiter: ',') %>
    </div>
    <div class="row g-2 mb-3">
      <%= form.label "비고: ", class: "col-sm-2 form-label" %>
      <%= form.text_field :footnote, class: "col form-control form-control-sm", value: @cf.footnote %>
    </div>
    <%= form.radio_button :fuel_type, "gasoline", class: "form-check-input", checked: @cf.fuel_type == 'gasoline' %>
    <%= form.label :gasoline, "휘발유", class: "form-check-label" %>
    <%= form.radio_button :fuel_type, "diesel", class: "form-check-input", checked: @cf.fuel_type == 'diesel' %>
    <%= form.label :diesel, "경유", class: "form-check-label" %>
  <% end %>
  <br>
  <br>
  <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
    <button class="btn btn-outline-primary" value="저장" id="saveBtn"
            data-controller="car"
            data-action="click->car#saveCarFuel"
            data-car-type-param="update"
            data-car-car-id-param="<%= @car.id %>"
            data-car-fuel-id-param="<%= @cf.id %>"
    >저장
    </button>
    <%= render BasicButtonComponent.new(
      "btn btn-outline-primary", title: "목록", path: "/api/v1/car/fuel_list/#{@car.id}") %>
  </div>
</div>
