<h1 class="tw-text-2xl">차량 정비내역 수정</h1>
<br>
<div data-controller="car">
  <%= form_with url: '/api/v1/car/create_repair', method: :post, class: "w-full", id: "newCarRepairForm" do |form| %>
    <div class="row g-2 mb-3 w-full">
      <%= form.label "차번호: ", class: "col-sm-2 form-label" %>
      <%= form.text_field :number, class: "col form-control form-control-sm", value: @car.number %>
    </div>
    <div class="row g-2 mb-3 w-full">
      <%= form.label "정비일: ", class: "col-sm-2 form-label" %>
      <%= form.date_field :repaired_at, class: "col form-control form-control-sm", max: "9999-12-31", value: @cr.repaired_at %>
    </div>
    <div class="row g-2 mb-3">
      <%= form.label "주행거리: ", class: "col-sm-2 form-label" %>
      <%= form.text_field :odo, class: "col form-control form-control-sm number-auto-comma", value: number_with_delimiter(@cr.odo, delimiter: ',') %>
    </div>
    <div class="row g-2 mb-3">
      <%= form.label "정비소: ", class: "col-sm-2 form-label" %>
      <%= form.text_field :center, class: "col form-control form-control-sm", value: @cr.center %>
    </div>
    <div class="row g-2 mb-3">
      <%= form.label "정비내용: ", class: "col-sm-2 form-label" %>
      <%= form.text_field :desc, class: "col form-control form-control-sm", value: @cr.desc %>
    </div>
    <div class="row g-2 mb-3">
      <%= form.label "정비금액: ", class: "col-sm-2 form-label" %>
      <%= form.text_field :price, class: "col form-control form-control-sm number-auto-comma", value: number_with_delimiter(@cr.price, delimiter: ',') %>
    </div>
    <div class="row g-2 mb-3">
      <%= form.label "비고: ", class: "col-sm-2 form-label" %>
      <%= form.text_field :footnote, class: "col form-control form-control-sm", value: @cr.footnote %>
    </div>
  <% end %>
  <br>
  <br>
  <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
    <button class="btn btn-outline-primary" value="저장" id="saveBtn"
            data-controller="car"
            data-action="click->car#saveCarRepair"
            data-car-type-param="update"
            data-car-car-id-param="<%= @car.id %>"
            data-car-repair-id-param="<%= @cr.id %>"
    >저장
    </button>
    <%= render BasicButtonComponent.new(
      "btn btn-outline-primary", title: "목록", path: "/api/v1/car/repair_list/#{@car.id}") %>
  </div>
</div>
