<h1 class="tw-text-2xl">차량 추가</h1>
<br>
<div data-controller="car">
  <%= form_with url: '/api/v1/car/create_car', method: :post, class: "w-full", id: "newCarForm" do |form| %>
    <%= element_in_form(form, :date, '등록일') { |f, n, cl| f.date_field(n, class: cl, max: "9999-12-31") } %>
    <%= element_in_form(form, :number, '차량번호') { |f, n, cl| f.text_field(n, class: cl, placeholder: "띄어쓰기 없이 작성") } %>
    <%= element_in_form(form, :model, '모델') { |f, n, cl| f.text_field(n, class: cl) } %>
    <%= element_in_form(form, :manufacturer, '제조사') { |f, n, cl| f.text_field(n, class: cl) } %>
    <%= element_in_form(form, :insurance_company, '보험사') { |f, n, cl| f.text_field(n, class: cl) } %>
    <%= element_in_form(form, :insurance_start, '보험시작일') { |f, n, cl| f.date_field(n, class: cl, max: "9999-12-31") } %>
    <%= element_in_form(form, :insurance_end, '보험종료일') { |f, n, cl| f.date_field(n, class: cl, max: "9999-12-31") } %>
    <%= element_in_form(form, :insurance_desc, '보험내용') { |f, n, cl| f.text_field(n, class: cl) } %>
  <% end %>
  <br>
  <br>
  <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
    <button class="btn btn-outline-primary" value="저장" id="saveBtn"
            data-controller="car"
            data-action="click->car#saveCar"
            data-car-type-param="create"
    >저장
    </button>
    <%= render BasicButtonComponent.new("btn btn-outline-primary", title: "목록", path: "/api/v1/car/car_list/") %>
  </div>
</div>
