<h1 class="tw-text-2xl">차량 정비내역 추가</h1>
<br>
<div data-controller="car">
  <%= form_with url: '/api/v1/car/create_repair', method: :post, class: "w-full", id: "newCarRepairForm" do |form| %>
    <%= element_in_form(form, :number, '차량번호') { |f, n, cl| f.text_field(n, class: cl, value: @car.number) } %>
    <%= element_in_form(form, :repaired_at, '정비일') { |f, n, cl| f.date_field(n, class: cl, max: "9999-12-31") } %>
    <%= element_in_form(form, :odo, '주행거리') { |f, n, cl| f.text_field(n, class: "#{cl} number-auto-comma") } %>
    <%= element_in_form(form, :center, '정비소') { |f, n, cl| f.text_field(n, class: cl) } %>
    <%= element_in_form(form, :desc, '정비내용') { |f, n, cl| f.text_field(n, class: cl) } %>
    <%= element_in_form(form, :price, '정비금액') { |f, n, cl| f.text_field(n, class: "#{cl} number-auto-comma") } %>
    <%= element_in_form(form, :footnote, '비고') { |f, n, cl| f.text_field(n, class: cl) } %>
  <% end %>
  <br>
  <br>
  <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
    <button class="btn btn-outline-primary" value="저장" id="saveBtn"
            data-controller="car"
            data-action="click->car#saveCarRepair"
            data-car-type-param="create"
            data-car-car-id-param="<%= @car.id %>"
    >저장
    </button>
    <%= render BasicButtonComponent.new(
      "btn btn-outline-primary", title: "목록", path: "/api/v1/car/repair_list/#{@car.id}") %>
  </div>
</div>
